body {
    font-family: 'Jura', sans-serif;
}

table {
    border-collapse: separate;
    border: 1px solid black;
    border-spacing: 4px;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 2%;
    width: 98%;
}

table,
td,
th {
    border: 1px solid blue;
    padding: 1px;
}

th {
    text-align: Center;
    font-style: italic;
    font-weight: bolder;
    font-size: 13px;
}

td {
    text-align: Center;
    font-size: 12px;
    color: red;
}

.header2a {
    width: 100%;
}


/*
========================================
Links
========================================
*/

a:link,
a:visited {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: none;
}

a:active {
    color: black;
    text-decoration: none;
}